/*----------*/
/* Document */
/*----------*/

:root {
    --rojo: #EB473D;
    --smoky-black: #0B0500;
    --rich-black: #0D1F22;
    --naranja-quemado: #D67D3E;
    --snow-white: #F8F9FA;
    --charcoal: #2E4756;
    --light-cyan: #DAF0EE;
    --black-olive: #3B413C;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--snow-white);
    color: var(--charcoal);
    margin: 0;
    margin-top: 70.5px;
    padding: 0 50px;
}

h1 {
    font-size: 60px;
    margin: 0;
    color: var(--charcoal);
    line-height: 1;
    font-weight: 500;
}

h2 {font-size: 48px;
    margin: 0;
    color: var(--charcoal);
    line-height: 1;
    font-weight: 500;
}

h3 {
    font-size: 36px;
    margin: 0;
    color: var(--charcoal);
    line-height: 1;
    font-weight: 500;
}

/*------*/
/* Hero */
/*------*/

.hero {
    color: var(--charcoal);
    padding: 0 100px;
    height: 70vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

.hero h2 {
    align-items: center;
    align-self: center;
}
